In [16]:
import pandas as pd 
import sqlite3
# create database connection
conn=sqlite3.connect('inventory.db')
# checking tables present  in the data base
tables=pd.read_sql_query("SELECT name from sqlite_master WHERE type='table'",conn)
tables
for table in tables['name']:
    print('-'*50,f'{table}','-'*50)
    print('count of records:',pd.read_sql(f"select count(*)as count from {table}",conn)['count'].values[0])
    display(pd.read_sql(f'select * from {table} limit 5',conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vendors_sales_summary --------------------------------------------------
count of records: 10692

,index,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,totalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,Freightcost,GrossProfit,ProfitMargin,StockTurnOver,SalesToPurchaseRatio
0,0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,BROWN-FORMAN CORP,36.99,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,MARTIGNETTI COMPANIES,28.99,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,PERNOD RICARD USA,24.99,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,DIAGEO NORTH AMERICA INC,22.99,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,DIAGEO NORTH AMERICA INC,29.99,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
count of records: 10692

,index,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,totalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,Freightcost,GrossProfit,ProfitMargin,StockTurnOver,SalesToPurchaseRatio
0,0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,BROWN-FORMAN CORP,36.99,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,MARTIGNETTI COMPANIES,28.99,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,PERNOD RICARD USA,24.99,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,DIAGEO NORTH AMERICA INC,22.99,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,DIAGEO NORTH AMERICA INC,29.99,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

In [33]:
freight_summary=pd.read_sql_query("""
   select 
     VendorNumber,
     sum(Freight)as Freightcost 
  from vendor_invoice
  group by VendorNumber""",conn)
freight_summary

     VendorNumber  Freightcost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [46]:
purchase_summary=pd.read_sql_query("""SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
p.Description,
pp.Volume,
pp.price as ActualPrice,
sum(Quantity) as TotalPurchaseQuantity,
sum(Dollars)as TotalPurchaseDollar
from purchases as p
join purchase_prices as pp
  on p.Brand = pp.Brand
  where p.PurchasePrice>0
group by p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
p.Description,
pp.Volume,
pp.Price
order by TotalPurchaseDollar
""",conn)
purchase_summary

,VendorNumber,VendorName,Brand,PurchasePrice,Description,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollar
0,7245,PROXIMO SPIRITS INC.,3065,0.71,Three Olives Grape Vodka,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,The Club Strawbry Margarita,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,Deep Eddy Vodka,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,Dr McGillicuddy's Apple Pie,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,Concannon Glen Ellen Wh Zin,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,Ketel One Vodka,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,Capt Morgan Spiced Rum,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,Absolut 80 Proof,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,Tito's Handmade Vodka,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,Jack Daniels No 7 Black,1750,36.99,145080,3811251.60

In [25]:
sales_summary=pd.read_sql_query("""select
  VendorNo,
  Brand,
  sum(SalesQuantity) as TotalSalesQuantity,
  sum(SalesPrice)as TotalSalesPrice,
  sum(SalesDollars)as TotalSalesDollars,
  sum(ExciseTax)as TotalExciseTax
from sales
group by 
VendorNo,Brand
order by TotalSalesDollars""",conn)
sales_summary

,VendorNo,Brand,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax
0,8004,5287,2,0.98,0.98,0.10
1,9206,2773,1,0.99,0.99,0.05
2,3252,3933,2,0.99,1.98,0.10
3,3924,9123,2,0.99,1.98,0.10
4,10050,3623,2,1.98,1.98,0.10
...,...,...,...,...,...,...
11267,3960,3545,135838,545778.28,4223107.62,249587.83
11268,3960,4261,200412,420050.01,4475972.88,368242.80
11269,17035,8068,187140,461140.15,4538120.60,343854.07
11270,4425,3405,160247,561512.37,4819073.49,294438.66
11271,1128,1233,142049,672819.31,5101919.51,260999.20

In [27]:
vendor_sales_summary=pd.read_sql_query("""
 with freight_summary as(
   select 
   VendorNumber,
  sum(Freight)as Freightcost
  from vendor_invoice
  group by VendorNumber
),
 purchase_summary as (
    SELECT
      p.VendorNumber,
      p.VendorName,
      p.Brand,
      p.PurchasePrice,
      p.Description,
      pp.Volume,
      pp.price as ActualPrice,
      sum(Quantity) as totalPurchaseQuantity,
      sum(Dollars)as TotalPurchaseDollar
  from purchases as p
  join purchase_prices as pp
  on p.Brand = pp.Brand
  where p.PurchasePrice>0
  group by p.VendorNumber,p.VendorName,p.Brand,p.PurchasePrice,p.Description,pp.Volume,pp.Price
  order by TotalPurchaseDollar
),
sales_summary as(select
  VendorNo,
  Brand,
  sum(SalesQuantity) as TotalSalesQuantity,
  sum(SalesPrice)as TotalSalesPrice,
  sum(SalesDollars)as TotalSalesDollars,
  sum(ExciseTax)as TotalExciseTax
from sales
group by 
VendorNo,Brand
order by TotalSalesDollars
)
select 
 ps.VendorNumber,
 ps.VendorName,
 ps.Brand,
 ps.Description,
 ps.PurchasePrice,
 ps.Volume,
 ps.ActualPrice,
 ps.TotalPurchaseQuantity,
 ps.TotalPurchaseDollar,
 ss.TotalSalesQuantity,
 ss.TotalSalesPrice,
 ss.TotalSalesDollars,
 ss.TotalExciseTax,
 fs.Freightcost
from purchase_summary as ps
left join sales_summary as ss
    on ps.VendorNumber=ss.VendorNO
    and ps.Brand=ss.Brand
left join freight_summary fs
   on ps.VendorNumber = fs.VendorNumber
order by ps.TotalPurchaseDollar DESC""",conn)
 
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,totalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,Freightcost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,2,2.64,5.0,10.96,15.95,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,6,2.34,134.0,1.47,65.66,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,2,1.48,2.0,0.99,1.98,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,1,1.47,72.0,77.61,143.28,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,1,0.71,86.0,33.66,85.14,4.46,38994.78

In [11]:
'''This query genrates a vendor wise sales and purchase summary, Which is valuable for:

Performace Optimization:

 * The Query involves heavy joins and aggregation on large datasets likes sales and purchase.
 *  Storing the pre-aggregated results avoids repeated expensive computation.
 * Helps in analyzing sales, purchase, and pricing for different vendors and brands
 * Future Benefits of storing this data for faster Dashboarding and Reporting.
 * Instead of running expensive queries each time,dashboard can fetch data quickly from vendors_sales_summary'''

'This query genrates a vendor wise sales and purchase summary, Which is valuable for:\n\nPerformace Optimization:\n\n * The Query involves heavy joins and aggregation on large datasets likes sales and purchase.\n *  Storing the pre-aggregated results avoids repeated expensive computation.\n * Helps in analyzing sales, purchase, and pricing for different vendors and brands\n * Future Benefits of storing this data for faster Dashboarding and Reporting.\n * Instead of running expensive queries each time,dashboard can fetch data quickly from vendors_sales_summary'

In [28]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
Volume                   float64
ActualPrice              float64
totalPurchaseQuantity      int64
TotalPurchaseDollar      float64
TotalSalesQuantity       float64
TotalSalesPrice          float64
TotalSalesDollars        float64
TotalExciseTax           float64
Freightcost              float64
dtype: object

In [29]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
Volume                   0
ActualPrice              0
totalPurchaseQuantity    0
TotalPurchaseDollar      0
TotalSalesQuantity       0
TotalSalesPrice          0
TotalSalesDollars        0
TotalExciseTax           0
Freightcost              0
dtype: int64

In [32]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [20]:
vendor_sales_summary['Volume']=vendor_sales_summary['Volume'].astype('float64')

In [33]:
vendor_sales_summary.fillna(0,inplace=True)

In [28]:
vendor_sales_summary['Volume']=vendor_sales_summary['Description'].str.strip()

In [29]:
vendor_sales_summary['Volume']=vendor_sales_summary['VendorName'].str.strip()

In [37]:
vendor_sales_summary['GrossProfit']=vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollar']

In [40]:
vendor_sales_summary['ProfitMargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [43]:
vendor_sales_summary['StockTurnOver']=vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['totalPurchaseQuantity']

In [44]:
vendor_sales_summary['SalesToPurchaseRatio']=vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollar']

In [67]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'Volume', 'ActualPrice', 'totalPurchaseQuantity', 'TotalPurchaseDollar',
       'TotalSalesQuantity', 'TotalSalesPrice', 'TotalSalesDollars',
       'TotalExciseTax', 'Freightcost', 'GrossProfit', 'ProfitMargin',
       'StockTurnOver', 'SalesToPurchaseRatio'],
      dtype='object')

In [68]:
cursor=conn.cursor()

In [70]:
cursor.execute("drop table if exists vendor_sales_summary")

In [71]:
cursor.execute(""" create table vendor_sales_summary(
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
Volume INT,
ActualPrice  DECIMAL(10,2),
totalPurchaseQuantity INT,
TotalPurchaseDollar  DECIMAL(10,2),
TotalSalesQuantity INT, 
TotalSalesPrice  DECIMAL(10,2),
TotalSalesDollars DECIMAL(10,2),
TotalExciseTax DECIMAL(10,2),
Freightcost  DECIMAL(10,2),
GrossProfit  DECIMAL(10,2),
ProfitMargin  DECIMAL(10,2),
StockTurnOver  DECIMAL(10,2),
SalesToPurchaseRatio  DECIMAL(10,2),
PRIMARY KEY (VendorNumber,Brand)
);
""")

In [72]:
pd.read_sql_query('''select *from vendor_sales_summary''',conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, Volume, ActualPrice, totalPurchaseQuantity, TotalPurchaseDollar, TotalSalesQuantity, TotalSalesPrice, TotalSalesDollars, TotalExciseTax, Freightcost, GrossProfit, ProfitMargin, StockTurnOver, SalesToPurchaseRatio]
Index: []

In [73]:
vendor_sales_summary.to_sql('vendor_sales_summary',conn, if_exists='replace',index=True)

10692

In [64]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

# ----------------- logging config -----------------
logging.basicConfig(
    filename="logs/get_vendor_summary.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a",
)

# ----------------- SQL: build vendor summary -----------------
def create_vendor_summary(conn):
    query = """
    WITH freight_summary AS (
        SELECT 
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
    ),
    purchase_summary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.PurchasePrice,
            p.Description,
            pp.Volume,
            pp.Price AS ActualPrice,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars)  AS TotalPurchaseDollar
        FROM purchases AS p
        JOIN purchase_prices AS pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY 
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.PurchasePrice,
            p.Description,
            pp.Volume,
            pp.Price
    ),
    sales_summary AS (
        SELECT
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesPrice)    AS TotalSalesPrice,
            SUM(SalesDollars)  AS TotalSalesDollars,
            SUM(ExciseTax)     AS TotalExciseTax
        FROM sales
        GROUP BY VendorNo, Brand
    )
    SELECT 
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.Volume,
        ps.ActualPrice,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollar,
        ss.TotalSalesQuantity,
        ss.TotalSalesPrice,
        ss.TotalSalesDollars,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM purchase_summary AS ps
    LEFT JOIN sales_summary AS ss
        ON ps.VendorNumber = ss.VendorNo
       AND ps.Brand       = ss.Brand
    LEFT JOIN freight_summary AS fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollar DESC;
    """

    vendor_sales_summary = pd.read_sql_query(query, conn)
    return vendor_sales_summary

def clean_data(data):

# changing datatype into float---------------

     data['Volume']=data['Volume'].astype('float64')
    
#filling missing values with 0---------------
    
     data.fillna(0,inplace=True)  

#removing spaces from catogrical columns---------------

     vendor_sales_summary['Volume']=vendor_sales_summary['Description'].str.strip()
     vendor_sales_summary['Volume']=vendor_sales_summary['VendorName'].str.strip()

# creating new columns for better understanding---------------

     vendor_sales_summary['GrossProfit']=vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollar']
     vendor_sales_summary['ProfitMargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100
     vendor_sales_summary['StockTurnOver']=vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['totalPurchaseQuantity']
     vendor_sales_summary['SalesToPurchaseRatio']=vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollar']

     return data

if __name__=='__main__':

#creating database connection 
    conn=sqlite3.connect('inventory.db')

    logging.info('creating vendor summary Table.....')
    summary_data=create_vendor_summary(conn)
    logging.info(summary_data.head())

    logging.info('cleaning Data.....')
    clean_data=clean_data(summary_data)
    logging.info(clean_data.head())


    logging.info('ingesting data.....')
    ingest_db(clean_data,'vendor_sales_summary',conn)
    logging.info('completed')

In [74]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,index,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,totalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,Freightcost,GrossProfit,ProfitMargin,StockTurnOver,SalesToPurchaseRatio
0,0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,BROWN-FORMAN CORP,36.99,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,MARTIGNETTI COMPANIES,28.99,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,PERNOD RICARD USA,24.99,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,DIAGEO NORTH AMERICA INC,22.99,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,DIAGEO NORTH AMERICA INC,29.99,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,WINE GROUP INC,4.99,2,2.64,5.0,10.96,15.95,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,SAZERAC CO INC,0.49,6,2.34,134.0,1.47,65.66,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,HEAVEN HILL DISTILLERIES,0.99,2,1.48,2.0,0.99,1.98,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,DIAGEO NORTH AMERICA INC,1.99,1,1.47,72.0,77.61,143.28,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,PROXIMO SPIRITS INC.,0.99,1,0.71,86.0,33.66,85.14,4.46,38994.78,84.43,99.166079,86.000000,119.915493